@media (max-width: 760px) {
    header {
        /* position: relative; */
        display: flex;
        justify-content: space-between;
        
    }

    header label {
        display: flex;
        position: relative;
        z-index: 100;
    }

    header label img {
        width: 40px;
        height: 40px;
    }

    header nav {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 60vw;
        height: 50vh;
        transform: translateX(200vw);
        background-color: #fafafa;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 5px #00000015;
        transition: 0.5s;
    }

    #menu:checked~header>nav {
        transform: translateX(-14%);
        transition: 0.5s;
    }

    header nav a {
        font-size: 18px;
        color: #002777;
    }

    header nav button {
        font-size: 18px;
        border: 2px solid #002777;
        background-color: #002777;
        color: #fff;
    }

    header nav button:hover {
        background-color: transparent;
    }

    .banner {
        flex-direction: column;
    }

    .banner h1,
    .banner p {
        width: 90%;
        text-align: center;
        margin: 10px 0;
    }

    .banner img {
        width: 90%;
        margin: 30px 0;
        animation: none;
    }

    .form {
        top: 60px;
    }

    .form form {
        width: 90%;
        height: 400px;
        flex-direction: column;
    }

    .box-input {
        border: dashed 2px #4E4B59 !important;
    }

    .viagens {
        align-items: center;
        flex-direction: column;
    }

    .promocao {
        flex-direction: column;
    }

    .promocao article {
        width: 90%;
    }

    .promocao article h2,
    .promocao article p {
        width: 90%;
        text-align: center;
    }

    .promocao img {
        width: 90%;
        margin: 10px 0;
    }

    footer article h2 {
        font-size: 20px;
    }

}