.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 745px;
    height: 495px;
    /* background: #1e123b; */
    background: linear-gradient(225deg, #20133f, #1b1035);
    box-shadow: -32px 32px 64px #170e2c,
        32px -32px 64px #26174a;
    border-radius: 5px;
    overflow-y: scroll;
}

.todo h1 {
    font-family: Opens_Sans;
    font-weight: 700;
    font-size: 24px;
    color: #FCFCFC;
    margin-top: 40px;
}

.todo .search {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 90%;
    height: 50px;
    background: transparent;
    padding: 0 10px;
    border-radius: 2px;
    margin: 20px 0;
    background: #1e123b;
    box-shadow: inset 20px 20px 60px #1a0f32,
        inset -20px -20px 60px #231544;
}

.todo .search input {
    color: #FCFCFC;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
}

.todo .search::placeholder {
    font-size: 18px;
    color: #fff;
}