.background-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff50;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.box-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 914px;
    height: 472px;
    border-radius: 10px;
    background-color: #1e123b;
}

.box-modal h2 {
    font-family: Opens_Sans;
    font-weight: 700;
    font-size: 32px;
    color: #FCFCFC;
    margin-top: 50px;
}

.box-modal textarea {
    width: 577px;
    height: 177px;
    background: transparent;
    border-radius: 10px;
    padding: 15px;
    margin: 2px 0;
    color: #FCFCFC;
    font-size: 18px;
    font-family: Opens_Sans;
    border: none;
    outline: none;
    background: #1e123b;
    box-shadow: inset 20px 20px 60px #1a0f32,
        inset -20px -20px 60px #231544;
}